/src/locales/index.js
/flow-typed/**
**/flow/**
**/build/**

#libs
/packages/**
# ignore generated code from rules-engine
packages/rules-engine/src/RulesEngine.js

# ignore generated rules-engine bundle
packages/rules-engine/build/**
packages/rules-engine/src/RulesEngine.js
packages/rules-engine/**
